#equalsBtn {
    -fx-background-color: lightcoral;
}

#display {
    -fx-background-color: lightgreen;
    -fx-padding: 10px,0px,0px,0px;
        -fx-max-width: Infinity;
        -fx-max-height: Infinity;
}

Button {
    -fx-max-width: Infinity;
}

GridPane{
    -fx-padding: 5px,5px,5px,5px;
}
